:root {
  --primary-color: #f4a460;
  --secondary-color: #8b4513;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BODY STYLING STARTS HERE */
body {
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
}

/* HEADER AND NAV STYLING STARTS HERE */
header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: black;
}

header a {
  text-decoration: none;
  color: black;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: bold;
  font-size: 2vw;
}
/* HEADER AND NAV STYLING STARTS HERE */

/* HERO STYLING STARTS HERE */
.hero {
  background-image: url("./photos/decolonize-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 45vh;
}
/* HERO STYLING ENDS HERE */

/* ABOUT STYLING STARTS HERE */

/* ABOUT STYLING ENDS HERE */

/* WORK STYLING STARTS HERE

/* WORK STYLING ENDS HERE

/* CONTACT STYLING STARTS HERE */

/* CONTACT STYLING ENDS HERE */

/* FOOTER STYLING STARTS HERE */
.social-footer {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  bottom: 0;
}

.social-footer ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.social-footer li {
  padding: 5px;
}

.social-footer .fa {
  font-size: 30px;
  color: black;
  text-decoration: none;
}

.social-footee .fa:hover {
  color: var(--secondary-color);
  transition: color 0.3s ease-in;
}
/* FOOTER STLING ENDS HERE */


/* BODY STYLING ENDS HERE */