:root {
  --primary-color: #f4a460;
  --secondary-color: #8b4513;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* BODY STYLING STARTS HERE */
body {
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
}

/* HEADER AND NAV STYLING STARTS HERE */
header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: black;
}

header a {
  text-decoration: none;
  color: black;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: bold;
  font-size: 2vw;
}
/* HEADER AND NAV STYLING STARTS HERE */

/* HERO STYLING STARTS HERE */
.hero {
  background-image: url("./photos/decolonize-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 45vh;
}
/* HERO STYLING ENDS HERE */

/* MAIN SECTION STYLING STARTS HERE */
main {
  padding: 40px;
  border: 40px;
}

main section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main h2 {
  font-size: 80px;
  color: rgba(0,0,0,0.1);
  float: right;
}

main p {
  text-align: justify;
  padding: 10px 0 10px 20px;
}

.main-flex-container {
  display: flex;
}

.main-flex-title {
  flex: 0.8;
  padding-right: 20px;
}

.main-flex-text {
  flex: 1.2;
  padding-left: 20px;
  border-left: 5px solid black;
  margin-top: 10px;
  margin-bottom: 10px;

}

/* ABOUT SECTION STYLING STARTS HERE */

.about-title {
display: flex;
}

.about-photo {
  background-image: url(./photos/about-photo.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  flex: 0.8;
}

.about-subtitle {
  flex: 1.2;
  padding-top: 10%;
  padding-left: 10px;


}

/* WORK STYLING STARTS HERE

/* WORK STYLING ENDS HERE

/* CONTACT STYLING STARTS HERE */

/* CONTACT STYLING ENDS HERE */

/* FOOTER STYLING STARTS HERE */
.social-footer {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  bottom: 0;
  padding-bottom: 20px;
}

.social-footer ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.social-footer li {
  padding: 5px;
}

.social-footer .fa {
  font-size: 30px;
  color: black;
  text-decoration: none;
}

.social-footee .fa:hover {
  color: var(--secondary-color);
  transition: color 0.3s ease-in;
}
/* FOOTER STLING ENDS HERE */


/* BODY STYLING ENDS HERE */